body {
    background-color: aquamarine;
}

.inputTexto{
    width: 500px;
    height: 110px;
    flex-direction: row;
    border-radius: 18px;
    border-color: rgb(43, 63, 172);
    border-width: 15px;
    margin-left: 60px;
    justify-content: center;   
}

.texto{
    background-color:aquamarine;
    display:flex ;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
}
